

body {
    background:#f5f5ef;
    background-image:url("../burlap.jpg");
    background-repeat:repeat-x;

}

.black div{

}
.black h1{
    position:relative;
    margin-top:14px;
    color:black;
    font-size:3.8em;
    text-transform:uppercase;
    font-family:'Open Sans Condensed', sans-serif;
}

h3 {
    font-family:"Times New Roman";
    text-align:center;
}
.choice{
    position:relative;
    top:80px;

}
.black .nav{
    font-weight:bold;
    font-family:'Open Sans Condensed', sans-serif;
    text-transform:uppercase;
    font-size:1em;
    width:100%;

    text-align:center;
}
.navbar{
    position:relative;
    margin-top:35px;
    text-align:left;
    margin-bottom:40px;

}
.black h5{
    color:#ccc;
}
h4{
    margin-bottom:20px;
    font-size:1.75em;
    font-family:'Open Sans Condensed', sans-serif;
}
#images{
    position:relative;
}
#images li{
    text-align:center;
}
#images a{
    margin-bottom:10px;
}

#contact{
    margin-top:30px;
}

.main {
    margin-top:30px;
}

h1,h2,h3,h4,h5,h6 {
    color:#933;
}
.photowrap {
    background-color:#fafafa;
    border-radius:5px;
    padding:10px;
    border:1px solid #ddd;
}

.darkblue{
    background:#0977bb;
}

.darkblue :hover {
    background:#0977bb;

}
